<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToggleSoftware.com</title>
    <style>
        @font-face{
            font-family: 'beasigne';
            src: url('BEASIGNE.otf');
        }
        @font-face{
            font-family:'kaput';
            src:url('Kaput-BlackItalic.ttf');
        }
        @font-face{
            font-family:'signature';
            src:url('BusinessSignature.otf');
        }
        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
        #wrapper{
            width:100%;
            min-height:100vh;
            display:grid;
            place-content: center;
        }
        #logo{
            width:315px;
            height:315px;
            /* border:1px solid red; */
        }
    #toggle{
        width:90px;
        height:50px;
        background:#0099ff;
        border-radius:40px;
        border: 12px solid red;
        cursor:pointer;
        margin:0 auto;
        margin-top: 5px;
      }
      #toggle-inner{
        width:20px;
        height:20px;
        border-radius:50%;
        background:blue;
        margin:3px;
      }
      #shadow{
        position:relative;
        right:13px;
        margin: 15px auto 5px;
        width:60px;
        height:1px;
        box-shadow: 15px 5px 5px #111;
      }

        h1{
            width: 100%;
            text-align: center;
            font-size:60px;
            color:blue;
            font-family: beasigne;
        }
        h2{
            font-family: beasigne;
            font-weight:100;
            font-size:20px;
            background:black;
            color:white;
            margin:0 5px;
            border-radius: 5px;
            padding-top:4px;
            padding-left: 8px;
            letter-spacing: 12px;
            margin-top:5px;
        }
        h3{
            width:100%;
            text-align: center;
            font-family: sans-serif;
            font-weight: 100;
            color:grey;
        }
        h4{
            font-family:serif;
        }
        #big-tech{
            width:100%;
            text-align: center;
            font-family: kaput;
            font-size:30px;
        }
        #small-business{
            font-family:signature;
            font-size:70px;
            width:100%;
            position: relative;
            bottom:15px;
            text-align: center;
        }
        #for{
            width:100%;
            text-align: center;
        }
        #under-construction{
            background:yellow;
            text-align: center;
            padding:3px;
            font-weight: 900;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="logo">
            
                <div id="toggle">
                    <div id="toggle-inner"></div>
                </div>
                <div id="shadow"></div>
            
                <h1>toggle</h1>
                <h2>SOFTWARE</h2>
            
                <h3>togglesoftware.com</h3>
                <div id="big-tech">BIG TECH</div> 
                <div id="for">for</div> 
                <div id="small-business">Small Business</div>
            
        </div>
        <div id="under-construction">
            / / / / UNDER CONSTRUCTION / / / /
        </div>
    </div>

    <script>
        const toggleSwitch = document.querySelector('#toggle')
        let toggleState = 'left'
        toggleSwitch.addEventListener('click',()=>{
            if (toggleState == 'left'){
                toggleSwitch.style.transform = 'rotate(180deg)'
                toggleState = 'right'
            }else{
                toggleSwitch.style.transform = 'rotate(0deg)'
                toggleState = 'left'
            }
        })
    </script>
</body>
</html>