#logo-wrapper{
    width:100%;
    min-height:100vh;
    font-family: sans-serif;
}
#logo-wrapper,
#logo-top,
#logo-middle{
    display:grid;
    place-content: center;
}
#logo-container{
    width:315px;
    height:315px;
}
#logo-top,
#logo-middle,
#logo-bottom{
    width:315px;
    height:105px;
    border:1px solid red;
}
#logo-bottom{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#logo-top{padding-top:30px;}
#logo-bottom{padding-bottom:30px;}
#logo-middle{
    font-family:beasigne;
}
#logo-container h1{
    font-size:60px;
    color:blue;
}
#logo-container h2{
    width:100%;
    text-align: center;
    background:black;
    color:white;
    padding: 9px 0 5px;
    border-radius: 5px;
    letter-spacing: 10px;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}
#toggle{
    width:90px;
    height:50px;
    background:#0099ff;
    border-radius:40px;
    border: 12px solid red;
    cursor:pointer;
}
#toggle-inner{
    width:20px;
    height:20px;
    border-radius:50%;
    background:blue;
    margin:3px;
}
#shadow{
    margin-top:20px;
    margin-bottom:20px;
    width:60px;
    height:1px;
    box-shadow: 15px 5px 5px #111;
}
